{% extends 'basic.html' %}
{% load static %}
{% block title %}HOW TO STRENGTHEN YOUR POWERS
OF CONCENTRATION{% endblock %}
{% block body %}
<div class="content">
    <h2>HOW TO STRENGTHEN YOUR POWERS
    OF CONCENTRATION></h2>
    <p>When you begin to carry out the instructions in the six steps, it will be necessary for you to make use of the principle of concentration. Following are suggestions for the effective use of concentration.</p>
    <p style="text-indent: 35px;">When you begin the first of the six steps, which instructs you desire," to "fix in your own mind the exact amount of money you close your eyes and hold your thoughts on that amount of money until you can actually see the physical appearance of the money. Do this at least once each day. As you go through these exercises, follow the instructions given in chapter 4 on faith, and see actually in possession of the money.</p>
    <p style="text-indent: 35px;">Here is a most significant fact: the subconscious mind takes any orders given to it in a spirit of absolute faith, and acts upon those orders. But the orders often have to be presented over and over again (repeated positive affirmation) before they are interpreted by the subconscious mind. Because of this, you might consider the possibility of playing a perfectly legitimate "trick" on your subconscious mind. Make it believe (because you believe it) that you must have the amount of money you are visualizing. Make it believe that this money is already awaiting your claim, so the subconscious mind must hand over to you practical plans for acquiring the money that is yours.</p>
    <p style="text-indent: 35px;">Give this thought to your imagination and see what your imagination can, or will, do to create practical plans for the accumulation of money through transmutation of your desire. </p>
    <p style="text-indent: 35px;">Do not wait for a definite plan through which services or merchandise in return for the money you are visualizing. Just start right now to see yourself in possession of the money, demanding and expecting that your subconscious mind will hand over the plans you need. Be on the alert for these plans, and when they appear, put them into action immediately. When the plans appear, they will probably "flash" into your mind in the form of an inspiration or intuition (from Infinite Intelligence). Treat it with respect, and act upon it as soon as you receive it.</p>
    <p style="text-indent: 35px;">In the fourth of the six steps, you were instructed to "create a definite plan for carrying out your desire, and begin at once to put this plan into action." Do the same thing here. Close your and create in eyes mind a vivid image of you carrying out the your instructions. Do not trust to your "reason" when creating your plan for accumulating money through the transmutation of desire. Your reasoning faculty may be lazy, and if you depend entirely upon it to serve you, it may disappoint you.
        When visualizing the money you intend to accumulate, see yourself rendering the service or delivering the merchandise you intend to give in return for this money. This is important!</p>
    <p style="text-indent: 35px;"></p>
    <h2>Commentary</h2>
    <p>The basic principle underlying autosuggestion is closely related to self-hypnosis, and both techniques played an important role in the development of modern psychotherapy. Although all three concepts-autosuggestion, hypnosis, and psychotherapy had to overcome initial public skepticism, unfortunately autosuggestion and hypnotism were hampered by events that further delayed their acceptance.
        Hypnosis was an integral part of the therapies used by the major figures in the development of psychiatry including Sigmund Freud, Carl Jung, and William James. It fell out of favor as a therapeutic method when stage magicians began to use the technique in their acts. People found it difficult to give serious consideration to a method that was being used in theatres and night-clubs to make members of the audience do ridiculous things for comic effect.</p>
    <p style="text-indent: 35px;">Autosuggestion encountered a similar problem. French psychiatrist Emile Coué was the best known early advocate of Sigmund Freud, Coué operated a clinic that treated patients diagnosed with psychosomatic ailments (individuals who have convinced themselves they are ill, and even show symptoms, but do not actually have a disease). Coué treated his patients with an autosuggestion technique that involved the repetition of statements he termed positive affirmations.</p>
    <p style="text-indent: 35px;">Coué devised a general, nonspecific phrase that would give the subconscious a positive instruction, but was open enough that it did not tell the subconscious how to do it. The positive affirmation was "Every day in every way I am getting better and better" and he instructed his patients to repeat the phrase several times a day. Improvements among his patients happened so quickly and dramatically that his method became the tak of medical and scientific circles, and the use of the phrase practically became a movement in Europe..
        Word of the success Coué was having with his metho spread to America and he was soon booked to do a lecture tou At one of his early speaking engagements a cynical newspap reporter made a joke of the technique, calling it "Hells bells, well." The joke followed Coué wherever he spoke, and the p coverage was so negative he cancelled his tour and returned practice in Europe.</p>
    <p style="text-indent: 35px;">Serious scientists and therapists continued to work with autosuggestion, but just as had happened when stage magicians cast doubt upon the efficacy of hypnosis, Coué's method of positive affirmation fell out of favor with the general public. It took the openness of the latter part of the twentieth century before the techniques of hypnosis and autosuggestion gained general acceptance once again.
        Today, if you go on the Internet there are over 40,000 Web links featuring positive affirmations, and numerous bestsellers have been written on the subject. Virtually every newspaper, magazine, and television news program regularly features stories on the crucial role the mind plays in personal growth and achievement. Techniques based on autosuggestion have fostered countless bestselling books, audiobooks, and video programs, and every week thousands of people attend seminars, lectures, and retreats to be inspired by motivational speakers or spiritual leaders, and to learn techniques that will help them achieve success-almost all of which are based on the basic principles Napoleon Hill advocates in this book.</p>
    <p style="text-indent: 35px;">When Hill instructs the reader to "close your eyes and hold your thoughts on that amount of money until you can actually see the physical appearance of the money," he is in fact describing the autosuggestion technique most widely taught by contemporary motivational experts. Today it is called Creative Visualization and it is regularly used by some of the most successful trainers of Olympic athletes and professional sports teams, it is used by NASA in training astronauts, and medical professionals use it in a variety of ways including teaching it to patients who need to elevate their autoimmune system.
        Using visualization effectively is much more than simply daydreaming about something you would like to have, or a goal you would like to achieve. Visualization is a specific technique that involves the use of imagination, creativity, vivid imagery, and affirmations, all focused on creating something you wish to manifest in reality. Napoleon Hill identified the practice of visualization and wrote about it as early as 1928, in his first bestseller, Law of Success. Since then, many other psychologists, medical professionals, motivational speakers, and authors have developed systems based on the same principles.</p>
    <p style="text-indent: 35px;">Dr. Maxwell Maltz, a noted plastic surgeon, found that often it was as important for his patients to change their inner perception of themselves as it was to change their outer appearance. Dr. Maltz's landmark bestseller, Psycho-Cybernetics draws heavily on visualization as a way to increase self-esteem and improve a wide range of abilities. The Silva Method, another variation on visualization, has been taught to millions of people by certified Silva Trainers who hold seminars throughout the country. Jose Silva's best selling book, The Silva Mind Control Method, has also sold many millions of copies.
    </p>
    <p style="text-indent: 35px;">
        In 1978, fifty years after Napoleon Hill wrote about visualization in Law of Success, Shakti Gawain published the phenomenal bestseller, Creative Visualization, and Adelaide Bry published Visualization: Directing the Movies of Your Mind. At about the same time, Dr. O. Carl Simonton, an oncologist, concluded that cancer patients who used visualizations in conjunction with chemotherapy treatments had a marked improvement over those who didn't. His bestseller, Getting Well Again had a profound impact, and it was followed by books from other respected medical professionals such as Love, Medicine, and Miracles by Dr. Bernie Segal, and Superimmunity by Dr. Paul Persal. Other bestsellers by Dr. John Sarno, Dr. Deepak Chopra, and Dr. Andrew Weil have made what once was referred to as alternative medicine, now part of mainstream medical practice.
        MIND</p>
    <p style="text-indent: 35px;"></p>
    <a href="/"><button type="button" class="btn btn-dark" id="btnh">Go to home</button></a>
</div>

<style>
    #btnh {
        height: 45px;
        width: 60%;
        margin: 2% 18%;
        border-radius: 140px;
    }

    body {
        margin: 0;
        padding: 0;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnyzOGZzI92UReZg9aeBpqVA-HZRrk1LSUhpgK5_dHVw&s');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        color: #333;
    }

    h2 {
        text-align: center;
        font-size: 50px;
    }

    .content {
        padding: 2%;
        font-family: cursive;
        font-size: larger;
    }
</style>
{% endblock %}