{% extends 'basic.html' %}
{% load static %}
{% block title %}Turn Desire Into Gold{% endblock %}
{% block body %}

<div class="content">
    <h2>Self-confidence formula</h2>
    <p>1. I know that I have the ability to achieve the object of my definite purpose in life. Therefore, I demand of
        myself persistent, continuous action toward its attainment, and here and now promise to render such action.</p>
    <p>2. I realize the dominating thoughts of my mind will eventually reproduce themselves in outward, physical action,
        and gradually transform themselves into physical reality. Therefore, I will concentrate my thoughts for thirty
        minutes each day, visualizing the person I intend to become. In this way I will create in my mind a clear mental
        picture.</p>
    <p>3. I know, through the principle of autosuggestion, that any desire I persistently hold in my mind will
        eventually find some practical means of attaining my objective. Therefore, I will devote ten minutes daily to
        demanding of myself the development of self-confidence.</p>
    <p>4. I have clearly written down a description of my definite chief aim in life, and I will never stop trying until
        I have developed sufficient self-confidence for its attainment.</p>
    <p>5. I fully realize that no wealth or position can last unless it is built upon truth and justice. Therefore, I
        will engage in no transaction that does not benefit all whom it affects. I will succeed by attracting to myself
        the forces I wish to use, and the cooperation of other people. I will persuade others to help me, because of my
        willingness to help others. I will eliminate hatred, envy, jealousy, selfishness, and cynicism, by developing
        love for all humanity, because I know that a negative attitude toward others can never bring me success. I will
        cause others to believe in me, because I will believe in them and in myself.</p>
    <p>I will sign my name to this formula, commit it to memory, and repeat it aloud once a day, with full faith that it
        will gradually influence my thoughts and actions so that I will become a self-reliant, and successful, person.
    </p>
    <p>Behind this formula is a law of nature that psychologists call autosuggestion or self-suggestion. It is a proven
        technique that will work for your success, if it is used constructively. On the other hand, if used
        destructively, it will destroy just as readily. In this statement may be found a very significant truth, namely,
        that those who go down in defeat, and end their lives in poverty, misery, and distress, do so because of
        negative application of the principle of autosuggestion. All impulses of thought have a tendency to clothe
        themselves in their physical equivalent.</p>
    <a href="/"><button type="button" class="btn btn-dark" id="btnh">Go to home</button></a>
</div>
<style>
    #btnh {
        height: 45px;
        width: 60%;
        margin: 2% 18%;
        border-radius: 140px;
    }

    body {
        margin: 0;
        padding: 0;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnyzOGZzI92UReZg9aeBpqVA-HZRrk1LSUhpgK5_dHVw&s');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        color: #333;
    }

    h2 {
        text-align: center;
        font-size: 50px;
    }

    .content {
        padding: 2%;
        font-family: cursive;
        font-size: larger;
    }
</style>
{% endblock %}