{% extends 'basic.html' %}
{% load static %}
{% block title %}How an Idea Built a Fortune{% endblock %}
{% block body %}
<div class="content">
    <h2>How an Idea Built a Fortune</h2>
    <p>The event chosen for this illustration dates back to 1900, when the United States Steel Corporation was being
        formed. As read the story, keep in mind the following fundamental facts and you will understand how ideas have
        been converted into huge fortunes.</p>
    <p style="text-indent: 35px;">First, the United States Steel Corporation was born in the mind of Charles M. Schwab,
        in the form of an idea he created through his imagination. Second, he mixed faith with his idea. Third, he
        formulated a plan for the transformation of his idea into physical and financial reality. Fourth, he put his
        plan into action with</p>
    <p style="text-indent: 35px;">his famous speech at the University Club. Fifth, he applied and
        followed through on his plan with persistence, and backed it with firm decision until it had been fully carried
        out. Sixth, he prepared the way for success by a burning desire for success.</p>
    <p style="text-indent: 35px;">If you are one of those who have often wondered how great fortunes are accumulated,
        this story of the creation of the United States Steel Corporation will be enlightening. If you have any doubt
        that a person can think and grow rich, this story should dispel that doubt. You can plainly see in the story of
        United States Steel the application of a major portion of the principles described in this
        book.</p>
    <p style="text-indent: 35px;">This astounding description of the power of an idea was dramatically told by John
        Lowell, in the New York World-Telegram, with whose courtesy it is here reprinted.</p>


    <h2>Commentary</h2>
    <p>Although the following story is not exclusively about faith, and it makes no mention of autosuggestion or the
        subconscious mind, Napoleon Hill included it at this point in every edition of Think and Grow Rich. In fact, as
        Hill says, this story illustrates at least six of the thirteen principles of success. But faith is at the center
        of it. If the central figure, Charles M. Schwab, had not mixed his "big idea" with absolute, unwavering faith
        that he could pull it off, the whole history of American business would have been different.</p>
    <p style="text-indent: 35px;">In order for the modern reader to fully appreciate the following newspaper story, it
        is appropriate at this point to provide some background information about the main players.</p>
    <p style="text-indent: 35px;">Charles M. Schwab was Andrew Carnegie's right-hand man, and president of the Carnegie
        Steel Corporation.
        Andrew Carnegie was a wealthy and powerful steel baron whose company controlled 25 percent of the iron and steel
        production in America.</p>
    <p style="text-indent: 35px;">J. P. Morgan was a wealthy and powerful Wall Street banker whose company had arranged
        the financing for many of the major industrial companies in America at the beginning of the twentieth century.
    </p>
    <p style="text-indent: 35px;">All the reader needs to know about the other men mentioned in the story is that at the
        beginning of the twentieth century, finance, business, and industry were dominated by a few hundred men, most of
        whom had amassed great fortunes through some connection with the railroads that had opened the country. These
        people were well known to readers of the New York World-Telegram because of their financial influence.</p>
    <p style="text-indent: 35px;">And that sets the stage for the following newspaper article which is not only a
        fascinating story about the power of faith in an idea, but also a wonderful example of the irreverent writing
        style that was used by many newspaper journalists of the day.</p>
    <a href="/"><button type="button" class="btn btn-dark" id="btnh">Go to home</button></a>
</div>

<style>
    #btnh {
        height: 45px;
        width: 60%;
        margin: 2% 18%;
        border-radius: 140px;
    }

    body {
        margin: 0;
        padding: 0;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnyzOGZzI92UReZg9aeBpqVA-HZRrk1LSUhpgK5_dHVw&s');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        color: #333;
    }

    h2 {
        text-align: center;
        font-size: 50px;
    }

    .content {
        padding: 2%;
        font-family: cursive;
        font-size: larger;
    }
</style>
{% endblock %}