{% extends 'basic.html' %}
{% load static %}
{% block title %}The Disaster of negative thinking{% endblock %}
{% block body %}
<div class="content">
    <h2>The Disaster of negative thinking</h2>
    <p>The subconscious mind makes no distinction between constructive and destructive thought impulses. It works with
        the material we feed it, through our thought impulses. The subconscious mind will translate into reality a
        thought driven by fear just as readily as it will translate into reality a thought driven by courage, or faith.
    </p>
    <p style="text-indent: 35px;">Just as electricity will turn the wheels of industry, and render useful service if
        used constructively, it will snuff out life if wrongly used. So too will the law of autosuggestion lead you to
        peace and prosperity, or down into the valley of misery, failure, and death. It depends on your degree of
        understanding and application of it.</p>
    <p style="text-indent: 35px;">If you fill your mind with fear or doubt, and if you do not. believe in your ability
        to connect with and use the forces of Infinite Intelligence, then you will not be able to use those forces. The
        law of autosuggestion will take your lack of belief and use that doubt as a pattern by which your subconscious
        mind will translate it into its
        physical equivalent.</p>
    <p style="text-indent: 35px;">Like the wind that carries one ship east and another west, the law of autosuggestion
        will lift you up or pull you down, according to the way you set your sails of thought.</p>
    <p style="text-indent: 35px;">The law of autosuggestion, through which any person may rise to altitudes of
        achievement that stagger the imagination, is well described in the following verse. Observe the words that have
        been emphasized, will catch the deep meaning that the poet had in mind.</p>
    <pre>
        If you think you are beaten, you are, 
        If you think you dare not, you don't;
        If you like to win, but you think you can't,
        It is almost certain you won't.

        If you think you'll lose, you're lost,
        For out in the world we find,
        Success begins with a fellow's will- 
        It's all in the state of mind.
        
        If you think you are outclassed, you are, 
        You've got to think high to rise, 
        You've got to be sure of yourself before 
        You can ever win a prize.
        
        Life's battles don't always go 
        To the stronger or faster man,
        But soon or late the man who wins 
        Is the man who thinks he can!
    </pre>
    <p style="text-indent: 35px;">If you wish evidence of the power of faith, study the achievements of men and women
        who have employed it. At the head of the list comes the Nazarene. The basis of Christianity is faith, no matter
        how many people may have perverted, or misinterpreted, the meaning of this great force.</p>
    <p style="text-indent: 35px;">The sum and substance of the teachings and the achievements of Christ, which may have
        been interpreted as "miracles," were nothing more nor less than faith. If there are any such phenomena as
        "miracles" they are produced only through the state of mind known as faith.</p>
    <p style="text-indent: 35px;">Consider Mahatma Gandhi of India, one of the most astounding examples of the
        possibilities of faith. Gandhi wielded more potential power than any man living in his time. And he had this
        power despite the fact that he had none of the orthodox tools of power, such as money, battleships, soldiers,
        and materials of warfare, Gandhi had no money, no home, he did not own a suit of clothes, but he did have power.
        How did he come by that power?</p>
    <p style="text-indent: 35px;">He created it out of his understanding of the principle of faith and through his
        ability to transplant that faith into the minds of two hundred million people.</p>
    <p style="text-indent: 35px;">He created it out of his understanding of the principle of faith and through his
        ability to transplant that faith into the minds of two hundred million people.</p>
    <p style="text-indent: 35px;">Gandhi accomplished the astounding feat of influencing two hundred million minds to
        coalesce and move in unison, as a single mind.</p>
    <p style="text-indent: 35px;">What other force on earth, except faith, could do as much?</p>


    <h2>Commentary</h2>
    <p>When you have faith in your ability to accomplish what you want, it not only firmly plants ideas in your
        subconscious, but it then works to reinforce itself.</p>
    <p style="text-indent: 35px;">When you have faith in your abilities, part of what you must have faith in is that it
        is possible to tap into infinite intelligence. And because you have faith that it will work, your conscious mind
        won't be resistant. When your conscious doesn't resist, your subconscious mind can send creative ideas to your
        conscious mind more easily. Then the more you see the power working in your life, the easier it is for you to
        act on faith the next time.</p>
    <p style="text-indent: 35px;">Will it work for you? You will never know unless you relax your resistance and just
        have faith that it will.</p>
    <p style="text-indent: 35px;">As noted at the beginning of this chapter, the way in which Napoleon Hill uses the
        word faith is meant to have no religious connotation. However, it would be impossible for Hill to write this
        chapter without acknowledging the power of religious faith. Therefore, in the following two paragraphs when Hill
        discusses Jesus Christ and Mahatma Gandhi as exemplifying the power of faith, he is referring to their personal
        faith: the absolute trust in his beliefs that Jesus exhibited, and Gandhi's total conviction and confidence in
        his cause. In this way, they perfectly exemplify thought impulse mixed with faith....</p>
    <a href="/"><button type="button" class="btn btn-dark" id="btnh">Go to home</button></a>
</div>

<style>
    #btnh {
        height: 45px;
        width: 60%;
        margin: 2% 18%;
        border-radius: 140px;
    }

    body {
        margin: 0;
        padding: 0;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnyzOGZzI92UReZg9aeBpqVA-HZRrk1LSUhpgK5_dHVw&s');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        color: #333;
    }

    h2 {
        text-align: center;
        font-size: 50px;
    }

    .content {
        padding: 2%;
        font-family: cursive;
        font-size: larger;
    }
</style>
{% endblock %}